<div class="agenda__list__item">
    <div class="schedule">
        <div class="schedule__text">09:00 AM</div>
        <button class="schedule__btn">
            <img src="assets/imgs/calendar.svg" alt="calendar">
            <span>Calendar</span>
        </button>
        <div class="schedule__text">09:50 AM</div>
    </div>
    <img src="assets/imgs/separate-bar.png" alt="separate-bar">
    <div class="wrapper">
        <div class="head">
            <div class="character">
                <img src="assets/imgs/avatar-1.png" alt="avatar">
                <div style="margin-left: 1rem;">
                    <div class="character__name">Speaker: Ha Dao</div>
                    <div class="character__role">Ceo &amp; Founder of <span class="custom-brand">Wow
                            AI</span></div>
                </div>
            </div>
            <button class="btn">Remarks</button>
        </div>
        <div class="desc">
            Morning session: <br>
            Registration &amp; Welcoming Participants
        </div>
    </div>
</div>

<div class="agenda__list__item">
    <div class="schedule">
        <div class="schedule__text">09:00 AM</div>
        <button class="schedule__btn">
            <img src="assets/imgs/calendar.svg" alt="calendar">
            <span>Calendar</span>
        </button>
        <div class="schedule__text">09:50 AM</div>
    </div>
    <img src="assets/imgs/separate-bar.png" alt="separate-bar">
    <div class="wrapper">
        <div class="head">
            <div class="character">
                <img src="assets/imgs/avatar-1.png" alt="avatar">
                <div style="margin-left: 1rem;">
                    <div class="character__name">Speaker: Ha Dao</div>
                    <div class="character__role">Ceo &amp; Founder of <span class="custom-brand">Wow
                            AI</span></div>
                </div>
            </div>
            <button class="btn">Remarks</button>
        </div>
        <div class="desc">
            Morning session: <br>
            Registration &amp; Welcoming Participants
        </div>
    </div>
</div>

<div class="agenda__list__item">
    <div class="schedule">
        <div class="schedule__text">09:00 AM</div>
        <button class="schedule__btn">
            <img src="assets/imgs/calendar.svg" alt="calendar">
            <span>Calendar</span>
        </button>
        <div class="schedule__text">09:50 AM</div>
    </div>
    <img src="assets/imgs/separate-bar.png" alt="separate-bar">
    <div class="wrapper">
        <div class="head">
            <div class="character">
                <img src="assets/imgs/avatar-1.png" alt="avatar">
                <div style="margin-left: 1rem;">
                    <div class="character__name">Speaker: Ha Dao</div>
                    <div class="character__role">Ceo &amp; Founder of <span class="custom-brand">Wow
                            AI</span></div>
                </div>
            </div>
            <button class="btn">Remarks</button>
        </div>
        <div class="desc">
            Morning session: <br>
            Registration &amp; Welcoming Participants
        </div>
    </div>
</div>

<div class="agenda__list__item">
    <div class="schedule">
        <div class="schedule__text">09:00 AM</div>
        <button class="schedule__btn">
            <img src="assets/imgs/calendar.svg" alt="calendar">
            <span>Calendar</span>
        </button>
        <div class="schedule__text">09:50 AM</div>
    </div>
    <img src="assets/imgs/separate-bar.png" alt="separate-bar">
    <div class="wrapper">
        <div class="head">
            <div class="character">
                <img src="assets/imgs/avatar-1.png" alt="avatar">
                <div style="margin-left: 1rem;">
                    <div class="character__name">Speaker: Ha Dao</div>
                    <div class="character__role">Ceo &amp; Founder of <span class="custom-brand">Wow
                            AI</span></div>
                </div>
            </div>
            <button class="btn">Remarks</button>
        </div>
        <div class="desc">
            Morning session: <br>
            Registration &amp; Welcoming Participants
        </div>
    </div>
</div>