<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/8.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/15.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/7.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/a1.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/5.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/6.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/a2.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/a3.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b01.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b02.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b03.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b04.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b05.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b06.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b07.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b08.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b09.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b10.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b11.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b12.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b13.png" alt="business">
</a>
<a href="#" class="splide__slide">
    <img src="assets/imgs/outlets/b14.png" alt="business">
</a>