<a class="splide__slide" href="https://www.vedao.com/">
    <img src="assets/imgs/partners/VeDao_3.png" alt="VeDao">
</a>


<a class="splide__slide" href="https://www.web3space.network/">
    <img src="assets/imgs/partners/Web3-space-2.png" alt="Web3-space-2">
</a>


<a class="splide__slide" href="https://www.web3space.network/">
    <img src="assets/imgs/partners/web3daily-c.png" alt="Web3-daily">
</a>


<a class="splide__slide" href="https://www.venturecapital.game/">
    <img src="assets/imgs/partners/AlteredVentures.png" alt="AlteredVentures">
</a>


<a class="splide__slide" href="https://www.flat6labs.com/">
    <img src="assets/imgs/partners/Flat6Labs.png" alt="Flat6Labs">
</a>


<a class="splide__slide" href="https://hackernoon.com/">
    <img src="assets/imgs/partners/hackernoon-b.png" alt="HackerNoon">
</a>


<a class="splide__slide" href="https://interactwith.com/">
    <img src="assets/imgs/partners/interact-with-d.png" alt="interact-with">
</a>


<a class="splide__slide" href="https://metagalaxyland.com/">
    <img src="assets/imgs/partners/MetagalaxyLand_2.png" alt="MetagalaxyLand">
</a>


<a class="splide__slide" href="https://startupslatam.com/">
    <img src="assets/imgs/partners/Startups_Latam_2.png" alt="Startups_Latam">
</a>