<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/Berkeley_Haas.svg" alt="Berkeley_Haas">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/GoogleDeepMindLogo.png" alt="google-deepmind">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/HAI.png" alt="HAI">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/Meta-Logo.png" alt="Meta">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/NVIDIA.png" alt="NVIDIA">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/Oracle-logo.png" alt="Oracle">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/Qualcomm-Logo.png" alt="Qualcomm">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/SAP_logo.png" alt="SAP">
</div>
<div class="splide__slide">
    <img src="assets/imgs/speakers-lineup/Stanford-University-Logo.png" alt="Stanford-University-Logo">
</div>