<div class="splide__slide">
    <img src="assets/imgs/wow-ai.png" alt="wow-ai">
</div>
<div class="splide__slide">
    <img src="assets/imgs/wowdao_logo.svg" alt="wowdao">
</div>
<div class="splide__slide">
    <img src="assets/imgs/transatlantic-logo.png" alt="transatlantic">
</div>
<div class="splide__slide">
    <img src="assets/imgs/wow-ai.png" alt="wow-ai">
</div>
<div class="splide__slide">
    <img src="assets/imgs/wowdao_logo.svg" alt="wowdao">
</div>
<div class="splide__slide">
    <img src="assets/imgs/transatlantic-logo.png" alt="transatlantic">
</div>