<div class="splide__slide">
    <img src="assets/imgs/discord.png" alt="sponsors">
</div>
<div class="splide__slide">
    <img src="assets/imgs/discord.png" alt="sponsors">
</div>
<div class="splide__slide">
    <img src="assets/imgs/discord.png" alt="sponsors">
</div>
<div class="splide__slide">
    <img src="assets/imgs/discord.png" alt="sponsors">
</div>
<div class="splide__slide">
    <img src="assets/imgs/discord.png" alt="sponsors">
</div>