<div class="judges__list__item">
    <img src="assets/imgs/avatar.png" alt="avatar">
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>
<div class="judges__list__item">
    <img src="assets/imgs/avatar.png" alt="avatar">
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>
<div class="judges__list__item">
    <img src="assets/imgs/avatar.png" alt="avatar">
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>
<div class="judges__list__item">
    <img src="assets/imgs/avatar.png" alt="avatar">
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>