<div class="judges__list__item">
    <div class="background">
        <div class="clip">
            <img src="/assets/imgs/avatar-0.png" alt="judge-avatar">
        </div>
    </div>
    <div class="desc">
        <div class="title">Dianne Russell the Third of Britain &amp; the not so great America</div>
        <div class="subTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quaerat!</div>
    </div>
</div>
<div class="judges__list__item">
    <div class="background">
        <div class="clip">
            <img src="/assets/imgs/avatar-0.png" alt="judge-avatar">
        </div>
    </div>
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>
<div class="judges__list__item">
    <div class="background">
        <div class="clip">
            <img src="/assets/imgs/avatar-0.png" alt="judge-avatar">
        </div>
    </div>
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>
<div class="judges__list__item">
    <div class="background">
        <div class="clip">
            <img src="/assets/imgs/avatar-0.png" alt="judge-avatar">
        </div>
    </div>
    <div class="desc">
        <div class="title">Dianne Russell</div>
        <div class="subTitle">The Walt Disney Company</div>
    </div>
</div>