@use "mixins" as mixins;
@use "variables" as vars;

@import "@splidejs/splide/dist/css/splide.min";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Quicksand', sans-serif;
  font-size: vars.$fs-default;
  font-weight: 600;
  line-height: vars.$lh-default;
  direction: ltr;
  list-style: none;
  text-decoration: none;

  /* For debugging */
  // outline: 1px solid vars.$color-bright-pink;
  // background-color: rgba(195, 255, 0, 0.1);
}

html,
body {
  background-color: vars.$color-dark;
  box-sizing: border-box;
  color: vars.$color-white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100dvh;
  margin: 0 auto;
}

a {
  color: vars.$color-white;
  text-decoration: none;
  @include mixins.transition("color");

  &:hover,
  &:focus {
    color: vars.$color-bright-pink;
  }
}

.anchor {
  transform: translateY(-64px);
}

.go-top {
  align-items: center;
  background-color: vars.$color-bright-pink;
  border: solid 2px vars.$color-white;
  border-radius: 100%;
  bottom: 16px;
  color: vars.$color-white;
  display: flex;
  justify-content: center;
  height: 36px;
  opacity: .5;
  position: fixed;
  right: 16px;
  width: 36px;
  z-index: 9999;
  @include mixins.transition("opacity");

  &:hover,
  &:focus {
    color: vars.$color-white;
    opacity: 1;
  }

  svg {
    height: 66%;
    width: 66%;
  }
}

.entrance-animation {
  opacity: 0;
  transform: scale(.8) translateY(-64px);
  @include mixins.transition("opacity, transform");

  @for $i from 1 to 32 {
    &--delay-#{$i} {
      transition-delay: $i * 100ms;
    }
  }

  &--show {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes sparkle {
  0% {
    opacity: .2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

// ** Custom scrollbar ** //
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: vars.$color-dark;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
}