@use "mixins" as mixins;
@use "variables" as vars;

.sub-page {
  @import "sub_page/header";
  @import "sub_page/hero";
  @import "sub_page/attend";
  @import "sub_page/about";
  @import "sub_page/tickets";
  @import "sub_page/discount";
  @import "sub_page/sponsors";
  @import "sub_page/judges";
  @import "sub_page/agenda";
  @import "sub_page/partners";

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: vars.$color-dark;
  padding: 20px;
  padding-bottom: 0;
  margin: 0 auto;

  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;

  @media (max-width: 428px) {
    padding: 20px 8px;
  }

  .section {

    &__stars {
      text-align: center;
      padding: 2rem 0;
      animation: sparkle 1.5s infinite;

      img {
        height: 100%;

        @media (max-width: vars.$bp-sm) {
          height: 72px;
        }
      }
    }

    &__spotlight {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-60%, -30%);
      max-width: vars.$bp-xxl;
      animation: sparkle 2.5s infinite;
    }

    &-title {
      font-size: vars.$fs-h1-s;
      font-weight: 700;
      margin: 0 auto;
      max-width: 780px;
      padding-right: 32px;
      text-align: center;

      @media (max-width: vars.$bp-lg) {
        font-size: vars.$fs-h2;
      }

      @media (max-width: vars.$bp-md) {
        padding-right: 24px;
        font-size: vars.$fs-h3;
      }

      @media (max-width: vars.$bp-sm) {
        font-size: vars.$fs-h5;
      }

      @media (max-width: vars.$bp-xs) {
        font-size: vars.$fs-h5;
      }

      &__stars {
        height: 32px;

        @media (max-width: vars.$bp-md) {
          height: 24px;
        }
      }
    }
  }

  .tabGroup {
    max-width: vars.$bp-xxl;
    margin: 5vh auto;

    &__btn {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;

      @media (max-width: vars.$bp-xs) {
        flex-flow: column wrap;
        align-items: center;
        padding: 0 .5rem;
      }

      button {
        width: fit-content;
        font-size: 18px;
        font-weight: 900;
        margin: 0 .75rem;
        padding: .7rem 1rem;

        min-width: 25%;

        &.j-btn {
          min-width: 15%;
        }

        @media (max-width: vars.$bp-md) {
          font-size: .9rem;
        }

        @media (max-width: vars.$bp-sm) {
          font-size: .75rem;
          padding: .7rem;
        }

        @media (max-width: vars.$bp-xs) {
          margin: 1rem 0 0;
          width: 100%;
        }
      }
    }

    .active {
      background-color: transparent;
      background-image: vars.$gradient-th-line1-reverse;
      color: white;
    }
  }

  .footer-bg {
    z-index: 1;
    background: linear-gradient(180deg, rgba(13, 14, 17, 1) 0%, rgba(13, 14, 17, 0.7372198879551821) 68%, rgba(196, 102, 255, 0.393) 100%);
  }
}