@use "../variables" as vars;

$prefix: ".about";

#{$prefix} {
    max-width: vars.$bp-xxl;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vh;


    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        @media (max-width: vars.$bp-lg) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #globe {
            position: relative;
            z-index: -1;
            width: 35%;
            margin-right: -3rem;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-start;

            @media (min-width: vars.$bp-xxl) {
                width: 30%;
                transform: scale(0.9);
                margin-right: -2rem;
            }

            @media (min-width: vars.$bp-xl) and (max-width: (vars.$bp-xxl - 1)) {
                transform: scale(0.8);
            }

            @media (min-width: vars.$bp-md) and (max-width: vars.$bp-xl) {
                width: 45%;
                margin-right: 0;
            }

            @media (max-width: vars.$bp-md) {
                width: 60%;
                margin-right: 0;
            }
        }

        &__title {
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            h1 {
                font-size: 2.5rem;
                text-align: left;
                line-height: normal;
                margin: 0 auto;

                @media (max-width: vars.$bp-md) {
                    font-size: 2rem;
                }

                @media (max-width: vars.$bp-xs) {
                    font-size: 1.5rem;
                }
            }
        }

        .desc {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 45%;

            @media (min-width: vars.$bp-xxl) {
                width: 45%;
            }

            @media (min-width: vars.$bp-xl) and (max-width: vars.$bp-xxl) {
                width: 50%;
            }

            @media (max-width: vars.$bp-xl) {
                width: 80%;
            }

            @media (max-width: vars.$bp-md) {
                width: 95%;
            }

            p {
                text-align: justify;
                word-wrap: break-word;
                font-size: .9rem;
                line-height: normal;
                font-weight: 400;
                margin-bottom: 1rem;

                @media (max-width: vars.$bp-xxl) {
                    font-size: 14px;
                }
            }
        }
    }
}