@use "../variables" as vars;

$prefix: ".agenda";

#{$prefix} {
    max-width: vars.$bp-xxl;
    margin: 0 auto;
    padding-bottom: 1rem;
    transition: all 1s ease;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__head {

        .title {
            padding: 2rem 0;
            font-size: 2.5rem;
            font-weight: 900;
            text-align: center;
            line-height: 3rem;

            background-image: url(/assets/imgs/attend-title-bg.png);
            background-position: left 40% center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__list {
        max-width: vars.$bp-xxl;
        margin-top: 2rem;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;


        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            background-color: vars.$color-light-dark;
            border-radius: 15px;
            padding: 16px 16px;
            margin: 1.5rem 0;

            max-width: 680px;

            @media (max-width: vars.$bp-sm) {
                flex-flow: column wrap;
                justify-content: center;
            }

            @media (max-width: 825px) {
                width: 95vw;
            }

            &:hover {
                border: 1px solid vars.$color-light-pink;
                box-shadow: 13px 11px 38px 0px rgba(246, 212, 255, 0.20);
            }

            .schedule {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (max-width: vars.$bp-sm) {
                    flex-flow: row wrap;
                    width: 100%;
                    justify-content: space-evenly;
                    padding: .5rem 0;
                }

                &__text {
                    font-size: 11px;
                    padding: 8px 0;
                }

                &__btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    background: vars.$color-light-gray;
                    border: none;
                    border-radius: 8px;

                    padding: 6px;
                    width: 60px;
                    height: 60px;

                    @media (max-width: vars.$bp-sm) {
                        height: auto;
                        width: fit-content;
                        padding: .25rem .75rem;
                    }

                    img {
                        width: 24px;
                        height: 24px;

                        @media (max-width: vars.$bp-sm) {
                            display: none;
                        }
                    }

                    span {
                        margin-top: 4px;
                        color: vars.$color-white;
                        font-size: 11px;
                    }
                }
            }

            &>img {
                margin: 0 1rem;
                width: 8px;
                height: 120px;

                @media (max-width: vars.$bp-sm) {
                    display: none;
                }
            }

            .wrapper {
                display: flex;
                flex-direction: column;

                width: 30vw;

                @media (max-width:825px) {
                    width: 90vw;
                }

                @media (max-width: vars.$bp-sm) {
                    width: 100%;
                    padding: .5rem;
                }

                .head {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .character {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            width: 55px;
                            height: 55px;
                        }

                        &__name {
                            font-size: 17px;
                        }

                        &__role {
                            font-size: 12px;
                        }

                        .custom-brand {
                            font-size: 12px;
                            background: -webkit-linear-gradient(225deg,
                                    vars.$color-bright-pink 10%,
                                    vars.$color-light-purple 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    .btn {
                        background: none;
                        color: vars.$color-gray;
                        border: 1px solid vars.$color-gray;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 700;

                        height: 30px;
                        width: 81px;

                        @media (max-width: vars.$bp-sm) {
                            font-size: 12px;
                        }
                    }
                }

                .desc {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    line-height: 1.5rem;

                    @media (max-width: (vars.$bp-sm + 30)) {
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .endBtn {
        margin-top: 1.5rem;
        width: fit-content;

        span {
            font-size: 16px;
            font-weight: 500;
        }

        img {
            margin-left: .6rem;
        }
    }
}