@use "../variables" as vars;

$prefix: ".agenda";

#{$prefix} {
    max-width: vars.$bp-xxl;
    margin: 0 auto;
    padding: 0 1rem 1rem;
    transition: all 1s ease;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: vars.$bp-sm) {
        padding: 0 2rem 1rem;
    }

    &__toggle {
        &__display {
            width: 100%;
        }
    }

    &__head {

        .title {
            padding: 2rem 0;
            font-size: 2.5rem;
            font-weight: 900;
            text-align: center;
            line-height: 3rem;

            background-image: url(/assets/imgs/attend-title-bg.png);
            background-position: left 40% center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__list {
        max-width: vars.$bp-xxl;
        margin-top: 2rem;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;

        @media (max-width: vars.$bp-xl) {
            grid-template-columns: 100%;
        }


        &__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            background-color: vars.$color-light-dark;
            border-radius: 15px;
            padding: 16px 16px;
            min-height: 190px;
            max-width: 100%;

            @media (max-width: vars.$bp-xl) {
                max-width: 100%;
                width: 100%;
            }

            @media (max-width: vars.$bp-md) {
                display: grid;
                grid-template-columns: 100%;
            }

            @media (max-width: 825px) {
                width: 95vw;
            }

            &:hover {
                border: 1px solid vars.$color-light-pink;
                box-shadow: 13px 11px 38px 0px rgba(246, 212, 255, 0.20);
            }

            .schedule {
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                padding-right: 1rem;

                &::after {
                    background-color: vars.$color-light-gray;
                    content: "";
                    position: absolute;
                    bottom: 8px;
                    top: 8px;
                    right: 0;
                }

                @media (min-width: (vars.$bp-md + 1px)) {
                    &::after {
                        width: 2px;
                    }
                }

                @media (max-width: vars.$bp-md) {
                    flex-flow: row nowrap;
                    width: 100%;
                    justify-content: space-between;
                    padding: .5rem 1rem;

                    &::after {
                        height: 2px;
                        left: 84px;
                        right: 84px;
                        top: 24px;
                    }
                }

                @media (max-width: vars.$bp-sm) {
                    &::after {
                        width: 0;
                    }
                }

                &__text {
                    font-size: 12.6px;
                    font-weight: 600;
                    padding: 8px 0;

                    &:first-child::after {
                        content: "";
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background-color: vars.$color-light-gray;
                        border-radius: 100%;
                        right: -3px;
                    }

                    &:last-child::after {
                        content: "";
                        position: absolute;
                        height: 8px;
                        width: 8px;
                        background-color: vars.$color-light-gray;
                        border-radius: 100%;
                        bottom: 8px;
                        right: -3px;
                    }

                    @media (max-width: vars.$bp-md) {
                        &:first-child::after {
                            left: 80px;
                            top: 21px;
                        }

                        &:last-child::after {
                            right: 80px;
                            top: 21px;
                        }
                    }

                    @media (max-width: vars.$bp-sm) {
                        &:first-child::after {
                            width: 0;
                            height: 0;
                        }

                        &:last-child::after {
                            width: 0;
                            height: 0;
                        }
                    }
                }

                &__btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    background: vars.$color-light-gray;
                    border: none;
                    border-radius: 8px;

                    padding: 6px;
                    width: 60px;
                    height: 60px;

                    @media (max-width: vars.$bp-md) {
                        height: auto;
                        width: fit-content;
                        padding: .25rem .75rem;
                        position: relative;
                        z-index: 3;
                    }

                    svg {
                        width: 24px;
                        height: 24px;

                        @media (max-width: vars.$bp-md) {
                            display: none;
                        }
                    }

                    span {
                        margin-top: 4px;
                        color: vars.$color-white;
                        font-size: 11px;
                    }

                    &:hover {
                        background-color: vars.$color-white;

                        span {
                            color: vars.$color-blue-pink;
                        }

                        svg path {
                            fill: vars.$color-blue-pink;
                        }
                    }
                }
            }

            &>img {
                margin: 0 1rem;
                width: 8px;
                height: 100%;

                @media (max-width: vars.$bp-md) {
                    display: none;
                }
            }

            .wrapper {
                flex-grow: 1;
                max-width: 100%;
                width: 100%;
                height: 100%;
                padding-left: 1rem;
                padding-top: .5rem;

                @media (max-width: vars.$bp-xl) {
                    width: 100%;
                }

                @media (max-width: vars.$bp-md) {
                    padding: .5rem;
                    text-align: center;
                }

                .head {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    gap: 1rem;

                    @media (max-width: vars.$bp-md) {
                        padding: 0 .75rem;
                    }

                    .character {
                        display: flex;
                        flex-shrink: 1;
                        flex-flow: row nowrap;
                        align-items: center;
                        width: 100%;
                        word-wrap: break-word;
                        line-height: normal;

                        @media (max-width: vars.$bp-md) {
                            max-width: 100%;
                        }

                        img {
                            width: 55px;
                            height: 55px;
                        }

                        &__wrapper {
                            margin-left: 1em;
                        }

                        &__name {
                            font-size: 17px;
                            line-height: 24px;
                        }

                        &__role {
                            font-size: 12.6px;
                            font-weight: 400;
                        }
                    }

                    .btn {
                        display: flex;
                        width: fit-content;
                        height: fit-content;
                        padding: 5px 10px;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                        font-size: 14px;
                        white-space: nowrap;

                        border-radius: 8px;
                        color: vars.$color-gray;
                        border: 1px solid vars.$color-gray;
                        cursor: pointer;

                        @media (max-width: vars.$bp-md) {
                            display: none;
                        }
                    }
                }

                .desc {
                    width: 100%;
                    margin-top: 1rem;
                    font-size: 15.75px;
                    line-height: 20.5px;
                    font-weight: 400;

                    @media (max-width: (vars.$bp-sm + 30)) {
                        font-size: 16px;
                        text-align: center;
                    }

                    &__images {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        padding: 1em 1em 0;
                    }

                    &__image {
                        text-align: center;
                        margin: 0 0 1em;

                        img {
                            border-radius: 100%;
                            height: 55px;
                            max-width: 100%;
                            width: 55px;
                        }

                        span {
                            display: block;
                            font-size: 14px;
                            margin-top: .5em;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    .endBtn {
        margin-top: 1.5rem;
        width: fit-content;

        span {
            font-size: 16px;
            font-weight: 500;
        }

        img {
            margin-left: .6rem;
        }
    }

    .custom-brand {
        font-size: 12px;
        background: -webkit-linear-gradient(225deg,
                vars.$color-bright-pink 10%,
                vars.$color-light-purple 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}