@use "../variables" as vars;

$prefix: ".discount";

#{$prefix} {
    max-width: vars.$bp-xxl;
    margin: 0 auto;
    padding-top: 1rem;

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;

        &__imgContainer img {
            border-radius: 25px;
            border: 2px solid vars.$color-w2;
            max-width: 280px;
            max-height: 280px;
            width: 100%;
            object-fit: cover;
        }

        &__content {
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 38vw;

            @media (max-width: 600px) {
                padding: 0;
                margin: 0 auto;
                width: 60vw;
                text-align: center;
                align-items: center;
            }

            .title {
                margin: 1rem 0;
                text-transform: uppercase;
                font-size: 2rem;
                color: vars.$color-light-pink;
                font-weight: 800;

                @media (max-width: vars.$bp-lg) {
                    line-height: 2rem;
                }
            }

            .subTitle {
                margin: .5rem 0;
                font-size: 1.4rem;

                @media (max-width: vars.$bp-lg) {
                    line-height: 1.8rem;
                }
            }

            .form {
                display: flex;
                flex-flow: row wrap;
                margin-top: 1rem;

                @media (max-width: 820px) {
                    justify-content: center;
                }

                input {
                    width: 25vw;
                    height: 40px;
                    margin-top: .5rem;
                    margin-right: 1rem;

                    border-radius: 30px;
                    text-align: center;
                    border: none;
                    background-color: vars.$color-black;
                    color: vars.$color-white;

                    @media (max-width: 820px) {
                        width: 100%;
                    }

                    @media (max-width: 600px) {
                        width: 100%;
                        margin-right: 0;
                        font-size: 12px;
                    }
                }

                input::placeholder {
                    font-size: 12px;
                    color: vars.$color-white !important;

                    @media (max-width: 600px) {
                        font-size: 3vw;
                    }
                }

                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    padding: 0 .5rem 0 2rem;
                    width: 140px;
                    height: 40px;
                    margin-top: .5rem;

                    @media (max-width: vars.$bp-lg) {
                        padding: 0;
                        width: 120px;
                    }

                    @media (max-width: vars.$bp-md) {
                        padding: .5rem;
                    }

                    span {
                        font-size: 14px;

                        @media (max-width: 600px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}