$prefix: ".header";

#{$prefix} {
  background-image: url(/assets/imgs/space-net.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 105%;

  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  max-width: vars.$bp-xxl;
  margin: 0 auto;

  &::before {
    background-size: 100% 100%;
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}