@use "../mixins" as mixins;
@use "../variables" as vars;

.hero {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  transition: all 1s ease;

  &__wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: inherit;
    padding: 12rem 24px 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: vars.$bp-xxl) {
      padding: 6rem 24px 3rem;
    }

    @media (max-width: vars.$bp-md) {
      padding: 3rem 24px 24px;
    }
  }

  .topic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    background-image: url(/assets/imgs/bg-star.png);
    background-position: left 30% center;
    background-repeat: no-repeat;
    background-size: contain;

    h1 {
      margin: 1rem 0 3rem;

      @media (max-width: vars.$bp-md) {
        margin: 1rem 0 0;
      }
    }
  }



  &__cards {
    width: 100%;
    margin: 0 auto;

    // main
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    max-width: vars.$bp-xxl;
    z-index: 2;
    font-weight: 600;


    &__card {
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      height: auto;
      max-width: 340px;
      width: 100%;
      flex-direction: column;
      border-radius: 25px;
      background: linear-gradient(0deg, rgba(29, 30, 48, 1) 0%, rgba(29, 30, 48, 0.8660714285714286) 100%);
      transition: all .75s ease;

      @media (max-width: vars.$bp-xxl) {
        max-width: 320px;
        width: 100%;
      }

      @media (max-width: vars.$bp-lg) {
        margin-top: 1.5rem;
      }

      @media (max-width: vars.$bp-md) {
        // max-width: 280px;
      }

      @media (max-width: vars.$bp-sm) {
        width: 98%;
      }

      .net-bg {
        background-image: url(/assets/imgs/card-grid.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        .card-grid {
          background: radial-gradient(245.19% 108.52% at 18.07% 19.48%, #1D1E30 0%, rgba(29, 30, 48, 0.00) 100%);
          border-radius: 25px;
          padding: 6%;
          padding-bottom: 3%;

          &>img {
            max-width: 340px;
            width: 100%;
            object-fit: cover;
            height: 260px;
            border-radius: 15px;
            margin-bottom: .5rem;

            @media (max-width: vars.$bp-sm) {
              max-width: 100%;
              height: auto;
            }
          }

          .desc {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .card-title {
              text-align: left;
              font-size: 14px;

              @media (max-width: vars.$bp-xs) {
                font-size: 12px;
              }
            }

            p {
              display: none;
            }

            img {
              width: 30px;
              height: 30px;
              animation: sparkle 2s infinite;
            }
          }
        }
      }


      &:hover {
        max-width: 400px;
        height: auto;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        box-shadow: 0 0 30px 1px #CF98FF;
        border-radius: 25px;

        // background: rgb(113, 109, 255);
        // background: linear-gradient(307deg, rgba(113, 109, 255, 1) 0%, rgba(255, 152, 225, 1) 75%);

        @media (max-width: vars.$bp-md) {
          margin-top: 1.5rem;
        }

        .net-bg {
          border-radius: 23px;
          border: 1px solid vars.$color-white;
          background-image: url(/assets/imgs/highlight-card.png);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;

          .card-grid {
            border-radius: 23px;
            padding: 6%;
            padding-bottom: 4%;

            background: none;

            &>img {
              max-width: 340px;
              width: 100%;
              height: 200px;
              border-radius: 10px;

              border: 1px solid vars.$color-white;
            }

            .desc {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              .card-title {
                font-size: 1.3rem;
                margin: .8rem 0;
                line-height: 1.2rem;

                @media (max-width: vars.$bp-md) {
                  line-height: 1.5rem;
                }
              }

              p {
                display: block;
                text-align: left;
                font-size: 12px;
                line-height: normal;
              }

              img {
                align-self: flex-end;
                width: 36px;
                height: 36px;
                margin: 8px 0;
                animation: sparkle 2s infinite;
              }
            }
          }
        }
      }
    }
  }
}