@use "../variables" as vars;

$prefix: ".judges";

.active {
    display: block;
}

#{$prefix} {
    max-width: vars.$bp-xxl;
    margin: 1rem auto;

    &__list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1;
        white-space: nowrap;

        &__item {
            padding: 2rem 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 20vw;

            img {
                display: flex;
                flex: 1;
                width: 165px;
                height: 165px;
            }

            @media (max-width: vars.$bp-lg) {
                margin: .5rem;
            }

            .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title {
                    margin: .5rem 0;
                    font-size: 1.3rem;
                }

                .subTitle {
                    font-size: .9rem;
                }

                @media (max-width: vars.$bp-lg) {

                    .title {
                        font-size: 1.2rem;
                    }

                    .subTitle {
                        font-size: .8rem;
                    }
                }

                @media (max-width: 650px) {

                    .title {
                        margin: .2rem 0;
                        font-size: 1.3rem;
                    }

                    .subTitle {
                        font-size: .8rem;
                    }
                }

                @media (max-width: vars.$bp-xs) {

                    .title {
                        margin: 1rem 0;
                        font-size: 2rem;
                    }

                    .subTitle {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}