@use "../variables" as vars;

$prefix: ".judges";

.active {
    display: block;
}

#{$prefix} {
    max-width: vars.$bp-xxl;
    margin: 1rem auto;

    &__list {
        // display: flex;
        // flex-flow: row wrap;
        // align-items: flex-start;
        // justify-content: space-evenly;
        // gap: 1rem;
        text-align: center;
        // white-space: nowrap;

        display: grid;
        grid-gap: 1rem;
        padding: 0 1rem;

        @media (min-width: (vars.$bp-lg + 1px)) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: vars.$bp-lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: vars.$bp-md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: vars.$bp-sm) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        &__item {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 100%;

            .background {
                height: 175px;
                width: 175px;

                background-image: url(/assets/imgs/judges-bg.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100%;

                .clip {
                    clip-path: path(vars.$path-elipse-br);

                    img {
                        border-style: none;
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }

            @media (max-width: vars.$bp-lg) {
                margin: .5rem;
            }

            .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title {
                    margin: .5rem 0;
                    font-size: 1.3rem;
                    white-space: normal;
                    line-height: normal;
                    text-wrap: balance;
                }

                .subTitle {
                    font-size: .9rem;
                    line-height: normal;
                    text-wrap: balance;
                }

                @media (max-width: vars.$bp-lg) {

                    .title {
                        font-size: 1.2rem;
                    }

                    .subTitle {
                        font-size: .8rem;
                    }
                }

                @media (max-width: 650px) {

                    .title {
                        margin: .2rem 0;
                        font-size: 1.3rem;
                    }

                    .subTitle {
                        font-size: .8rem;
                    }
                }

                @media (max-width: vars.$bp-xs) {

                    .title {
                        margin: 1rem 0;
                        font-size: 1.5rem;
                    }

                    .subTitle {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}