@use '../variables' as vars;
@use '../mixins/' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$prefix: ".landing";

#{$prefix} {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    #introVideo {
        position: absolute;
        z-index: 1;
        inset: 0;
        width: 100vw;
        min-height: 100vh;
        height: 100vh !important;
        object-fit: cover;
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 0 6vw 0 4vw;
        z-index: 5;

        background: linear-gradient(0deg, rgba(14, 15, 18, 1) 20%, rgba(211, 211, 211, 0.01) 100%);

        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-end;

        &__btnGroup {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            a {
                border: none;
                background-color: vars.$color-d1;
                border-radius: 26px;
                padding: 1.75vh 1rem;
                margin: 0 1rem .5rem 0;

                font-size: 1.2vw;
                font-weight: 600;

                @media (max-width: (vars.$bp-md)) {
                    font-size: .75rem;
                }

                @media (max-width: vars.$bp-sm) {
                    font-size: .65rem;
                    padding: 1vh 1rem;
                }
            }
        }

        &__timer {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;

            width: 100%;

            font-size: 6.5vw;
            line-height: calc(100% + 10px);
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
        }

        &__title {
            color: vars.$color-bright-pink;
            width: 100%;

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            &>span>span {
                font-family: 'Montserrat', sans-serif;
                font-size: 2.8vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .normalText {
                color: vars.$color-white;
            }

            a {
                margin-left: 3vw;
                padding: .65rem 1.25rem;

                span {
                    font-size: 1.3vw;
                    font-weight: 400;
                    line-height: normal;
                    margin-right: .5rem;
                    white-space: nowrap;
                }

                img {
                    height: 16px;
                    width: 16px;
                }

                @media (min-width: vars.$bp-xxl) {
                    margin-left: 2.5vw;
                    padding: 1.65vh 2vw;
                }
            }

            @media (max-width: (vars.$bp-md)) {
                &>span {
                    width: 100%;
                }

                &>span>span {
                    font-size: 1.5rem;
                }

                a {
                    margin-left: 0;
                    margin-top: .5rem;

                    img {
                        width: .75rem;
                        height: .75rem;
                    }

                    span {
                        font-size: .75rem;
                    }
                }
            }

            @media (max-width: vars.$bp-sm) {
                &>span>span {
                    font-size: 1.15rem;
                }

                a {
                    img {
                        width: .65rem;
                        height: .65rem;
                    }

                    span {
                        font-size: .65rem;
                    }
                }
            }
        }

        &__extras {
            width: 100%;
            padding: 1rem 0 3rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            img {
                animation: rotation 10s infinite linear;
            }

            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(359deg);
                }
            }

            @media (max-width: 600px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .stats {
                position: relative;
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;

                &>* {
                    line-height: normal;
                    text-align: center;
                }

                img {
                    min-width: 140px;
                    width: calc(46vw / 4);
                }

                &__wrapper {
                    position: absolute;
                    top: 47%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .numbers {
                        font-size: 1.85vw;
                        line-height: normal;

                        @media (max-width: (vars.$bp-lg)) {
                            font-size: 1.5rem;
                        }
                    }

                    .cate {
                        font-size: .85vw;
                        line-height: normal;
                        font-weight: 400;

                        @media (max-width: (vars.$bp-lg)) {
                            font-size: .675rem;
                        }
                    }
                }
            }

            // .stats:first-child {
            //     width: 20%;
            //     align-items: flex-start;

            //     * {
            //         text-align: start;
            //     }
            // }

            // .stats:nth-child(3) {
            //     width: 27.5%;
            // }

            // .stats:nth-child(5) {
            //     width: 17.5%;
            // }

            // .stats:last-child {
            //     width: 22.5%;
            //     align-items: flex-end;

            //     * {
            //         text-align: end;
            //     }
            // }

            // img {
            //     flex: 0 1 auto;
            //     border: none;
            //     background-color: vars.$color-white;
            //     width: 1px;
            //     height: 56px;

            //     @media (max-width: (vars.$bp-md)) {
            //         height: 45px;
            //     }

            //     @media (max-width: vars.$bp-sm) {
            //         height: 45px;
            //     }

            //     @media (max-width: vars.$bp-xs) {
            //         height: 40px;
            //     }
            // }
        }



        &__downBtn {
            margin: 0 auto;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            // padding-top: .3rem;

            padding: .65rem 2rem;

            // ** Old button
            // border-top-left-radius: 16px;
            // border-top-right-radius: 16px;

            border-radius: 32px;
            border: none;

            @media (min-width: vars.$bp-xxl) {
                width: 15vw;
                height: 6vh;
                border-radius: 100px;
                padding: 1vh 1.5vw;
                white-space: nowrap;
            }

            @media (max-width: vars.$bp-md) {
                padding: .5rem 1.5rem;
            }

            a {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                img {
                    width: 21px;
                    height: 21px;
                    margin-right: .25rem;

                    @media (min-width: vars.$bp-xxl) {
                        width: 1.3vw;
                        height: 3vh;
                        margin-right: .5vw;
                    }

                    @media (max-width: vars.$bp-md) {
                        width: 18px;
                        height: 18px;
                    }
                }

                span {
                    font-size: 1.2rem;
                    color: vars.$color-blue-pink;
                    font-weight: 700;
                    line-height: normal;

                    @media (min-width: vars.$bp-xxl) {
                        font-size: 1.3vw;
                    }

                    @media (max-width: vars.$bp-md) {
                        font-size: 1rem;
                    }

                    @media (max-width: vars.$bp-sm) {
                        font-size: .85rem;
                    }

                    @media (max-width: 280px) {
                        font-size: .75rem;
                    }
                }
            }
        }
    }
}