@use '../variables' as vars;
@use '../mixins/' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$prefix: ".landing";

#{$prefix} {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    #introVideo {
        position: absolute;
        z-index: 1;
        inset: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    &__nav {
        position: relative;
        z-index: 9999;
        padding: 1rem 3vw;
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        @media (max-width: vars.$bp-xl) {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width: vars.$bp-sm) {
            justify-content: space-between;
        }

        @media (max-width: (vars.$bp-xs - 80)) {
            justify-content: flex-end;
        }

        &__logo {

            @media (max-width: (vars.$bp-xs - 80)) {
                display: none;
            }

            img {
                height: 50px;
                width: auto;
            }
        }

        &__links {
            a {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: normal;

                &:hover {
                    background: vars.$gradient-cta;
                    -webkit-background-clip: text;
                    -webkit-box-decoration-break: clone;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }

            @media (max-width: vars.$bp-xl) {
                backdrop-filter: blur(7px) grayscale(100%);
                background-color: #24124ddd;
                bottom: 100%;
                box-sizing: border-box;
                color: vars.$color-white;
                display: flex;
                flex-direction: column;
                height: 0;
                left: 0;
                opacity: 0;
                overflow: hidden;
                position: fixed;
                right: 0;
                top: -1000px;
                z-index: 100;
                @include mixins.transition("bottom, box-shadow, opacity");

                &--open {
                    bottom: 0;
                    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.4);
                    height: auto;
                    opacity: 1;
                    top: 0;
                }

                &--close {
                    cursor: pointer;
                    height: 32px;
                    opacity: 0.5;
                    position: fixed;
                    right: 1rem;
                    top: -1000px;
                    width: 32px;
                    z-index: 101;
                    @include mixins.transition("opacity");

                    &:hover {
                        opacity: 1;
                    }
                }

                &--open &--close {
                    top: 1rem;
                }

                a {
                    color: vars.$color-white;
                    font-size: vars.$fs-h4;
                    margin-left: 32px;
                    margin-right: 32px;
                    padding: 16px 0;
                    position: relative;
                    text-align: center;

                    &:first-child {
                        margin-top: 64px;
                    }

                    &::after {
                        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
                        bottom: 0;
                        content: "";
                        height: 0;
                        left: 50%;
                        margin-left: -24px;
                        position: absolute;
                        width: 48px;

                        @include mixins.transition("max-width");
                    }

                    &:hover::after {
                        max-width: 256px;
                    }
                }
            }

            @media (min-width: (vars.$bp-xl + 1)) {
                align-content: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &--close {
                    display: none;
                }

                a {
                    display: inline-block;
                }

                a+a {
                    margin-left: 1.5rem;
                }
            }
        }

        &__btnGroup {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: flex-end;
            flex-shrink: 0;
            flex-flow: row nowrap;

            button {
                border: none;
                background-color: vars.$color-white;
                border-radius: 50%;
                height: 45px;
                width: 45px;

                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                @media (max-width: vars.$bp-md) {
                    display: none;
                }
            }

            &-contact {
                margin: 0 1rem;
                padding: .75rem 1.25rem;
                white-space: nowrap;

                span {
                    margin: 0 .5rem;
                }

                @media (max-width: vars.$bp-sm) {
                    display: none;
                }
            }

            &-menu {
                align-items: center;
                aspect-ratio: 1;
                background-image: vars.$gradient-grad;
                border-radius: 12px;
                box-sizing: border-box;
                color: vars.$color-white;
                display: inline-flex;
                justify-content: center;
                padding: 8px;
                @extend .c-btn--glow !optional;

                &:hover {
                    background-image: vars.$gradient-grad-reverse;
                }

                @media (max-width: vars.$bp-sm) {}

                @media (min-width: (vars.$bp-xl + 1)) {
                    display: none;
                }

                svg {
                    height: 1.5rem;
                    margin-right: 0 !important;
                    width: 1.5rem;
                }
            }
        }
    }

    &__content {
        position: relative;
        width: 100%;
        padding: 0 4vw;
        z-index: 5;

        background: linear-gradient(180deg, rgba(10, 9, 12, 0) 0%, rgba(127, 120, 255, 1) 100%);

        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-end;

        &__btnGroup {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            a {
                border: none;
                background-color: vars.$color-d1;
                border-radius: 26px;
                padding: 2vh 2rem;
                margin: 0 1rem .5rem 0;

                font-size: 1.1vw;
                font-weight: 600;

                @media (max-width: (vars.$bp-md)) {
                    font-size: 1rem;
                }

                @media (max-width: vars.$bp-sm) {
                    font-size: .75rem;
                    padding: 1vh 1rem;
                }
            }
        }

        &__timer {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;

            width: 100%;

            font-size: 8vw;
            line-height: 100%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;

            @media (max-width: (vars.$bp-md)) {
                font-size: 3.5rem;
            }

            @media (max-width: vars.$bp-sm) {
                font-size: 2.7rem;
            }
        }

        &__extras {
            width: 95%;
            padding: 1rem 0;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            .stats {
                width: 25%;
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                flex: 2 2 auto;
                align-items: center;
                justify-content: flex-start;

                &>* {
                    line-height: normal;
                    text-align: center;
                }

                .numbers {
                    font-size: 2.5vw;

                    @media (max-width: (vars.$bp-lg)) {
                        font-size: 2.15rem;
                    }

                    @media (max-width: (vars.$bp-md)) {
                        font-size: 2rem;
                    }

                    @media (max-width: vars.$bp-sm) {
                        font-size: 1.5rem;
                    }

                    @media (max-width: vars.$bp-xs) {
                        font-size: 1.15rem;
                    }
                }

                .cate {
                    font-size: 1.1vw;
                    font-weight: 400;

                    @media (max-width: (vars.$bp-lg)) {
                        font-size: .85rem;
                    }

                    @media (max-width: (vars.$bp-md)) {
                        font-size: .75rem;
                    }

                    @media (max-width: vars.$bp-sm) {
                        font-size: .5rem;
                    }
                }
            }

            .stats:first-child {
                width: 20%;
                align-items: flex-start;

                * {
                    text-align: start;
                }
            }

            .stats:last-child {
                width: 20%;
                align-items: flex-end;

                * {
                    text-align: end;
                }
            }

            img {
                flex: 0 1 auto;
                border: none;
                background-color: vars.$color-white;
                width: 1px;
                height: 56px;

                @media (max-width: (vars.$bp-md)) {
                    height: 45px;
                }

                @media (max-width: vars.$bp-sm) {
                    height: 45px;
                }

                @media (max-width: vars.$bp-xs) {
                    height: 40px;
                }
            }
        }

        &__title {

            color: vars.$color-bright-pink;

            &>* {
                font-family: 'Montserrat', sans-serif;
                // font-size: 3rem;
                font-size: 3.5vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .normalText {
                color: vars.$color-white;
            }

            @media (max-width: (vars.$bp-md)) {
                &>* {
                    font-size: 1.5rem;
                }
            }

            @media (max-width: vars.$bp-sm) {
                &>* {
                    font-size: 1.15rem;
                }
            }
        }

        &__downBtn {
            margin: 0 auto;
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding-top: .3rem;

            width: 240px;
            height: 50px;

            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border: none;

            @media (max-width: 280px) {
                width: 90%;
            }

            img {
                width: 21px;
                height: 21px;
                margin-right: .25rem;

                @media (max-width: 280px) {
                    width: 16px;
                    height: 16px;
                }
            }

            span {
                font-size: 1.2rem;
                color: vars.$color-blue-pink;
                font-weight: 700;

                @media (max-width: 280px) {
                    font-size: 1rem;
                }
            }
        }
    }
}