@use "../variables" as vars;

$prefix: ".tickets";

#{$prefix} {

    padding-top: 5rem;
    margin: 0 auto;
    max-width: vars.$bp-xxl;
    width: 100%;

    .pink-glow {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translate(-50%, -20%);
        width: 100vw;
        min-height: 40vw;
        height: 100%;

        @media (min-width: vars.$bp-wide) {
            transform: translate(-50%, -30%);
        }

        background-image: url(/assets/imgs/tickets-bg.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__wrapper {
        position: relative;
        z-index: 5;
        max-width: vars.$bp-xxl;
        padding: 0 .5rem;
        margin: 0 auto;

        @media (max-width: 510px) {
            padding: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {

            h1 {
                margin: 0 auto;
                padding-bottom: 2rem;
                font-weight: 650;
                text-transform: uppercase;
                font-size: 2.5rem;
                text-align: center;
            }

            // @media (max-width: 730px) {

            //     &::after {
            //         content: "Drag / Scroll";
            //         font-size: 1.5rem;
            //         position: absolute;
            //         top: 3%;
            //         left: 50%;
            //         transform: translate(-50%, 100%);
            //     }
            // }
        }

        &__content {
            margin: 2rem auto;
            max-width: 100%;

            table {
                table-layout: fixed;
                border-collapse: collapse;
                border: none;

                // test
                border-radius: 15px;
                height: auto;
                max-width: vars.$bp-xxl;
                width: 100%;
                background-color: vars.$color-white;
                padding: 0 1rem;
                // background-color: transparent;

                @media (max-width: 510px) {
                    padding: 0;
                }

                color: vars.$color-light-purple;
                text-align: center;

                th,
                tr,
                td {
                    padding: .5rem;
                    line-height: 1.3rem;
                    height: auto;
                    font-size: 15px;
                    font-weight: 900;
                    word-wrap: break-word;
                    white-space: normal;

                    @media (min-width: vars.$bp-xxl) {
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }

                    @media (min-width: vars.$bp-xl) and (max-width: vars.$bp-xxl) {
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                    }
                }

                th,
                td {
                    border: 1px solid vars.$color-w2;
                }

                th,
                td {
                    width: calc(90vw / 6);
                    height: 10vh;
                    max-height: 100px;

                    @media (min-width: vars.$bp-xl) {
                        width: 100%;
                    }

                    @media (max-width: vars.$bp-lg) {
                        font-size: 12px;
                        word-wrap: break-word;
                    }

                    @media (max-width: 510px) {
                        width: calc(90vw / 6);
                        font-size: 10px;
                        line-height: .8rem;
                    }

                    @media (max-width: 428px) {
                        font-size: 9px;
                    }

                    @media (max-width: 320px) {
                        font-size: 7px;
                    }
                }

                tr:nth-child(2) td:not(td:first-child) {
                    color: vars.$color-pink;
                    font-weight: 900;
                }

                tr th:first-child {
                    border-right: none;
                }

                th:nth-child(2),
                td:nth-child(2) {
                    border-left: none;
                }

                td {

                    a {
                        padding: .5rem 1rem;
                        border-radius: 30px !important;
                        font-size: 14px;
                        font-weight: 400 !important;
                        width: 100%;
                        height: fit-content;
                        white-space: nowrap;

                        @media (min-width: vars.$bp-xxl) {
                            font-size: 1.3rem;
                            padding: 1.2rem;
                        }

                        @media (min-width: vars.$bp-xl) and (max-width: vars.$bp-xxl) {
                            font-size: 1rem;
                            padding: 1rem;
                        }

                        @media (max-width: vars.$bp-lg) {
                            font-size: 1.2vw;
                            font-weight: 900;
                        }

                        @media (max-width: vars.$bp-md) {
                            font-size: 1.3vw;
                            line-height: .75rem;
                        }

                        @media (max-width: vars.$bp-sm) {
                            line-height: .25rem;
                        }

                        @media (max-width: vars.$bp-xs) {
                            line-height: .01rem;
                        }
                    }
                }

                tr:last-child td {
                    padding: 1vw;
                }

                tr:nth-child(n+2) :not(td:first-child) {
                    font-weight: 500;
                    color: vars.$color-dark;
                }

                td:first-child {
                    padding-left: 1rem;
                    border-right: none;

                    @media (min-width: vars.$bp-3xl) {
                        min-width: 370px;
                    }

                    @media (max-width: 480px) {
                        padding-left: 0.3rem;
                    }
                }

                // remove outer border
                tr:first-child td {
                    border-top: none;
                }

                tr:first-child th:first-child {
                    border-top: none;
                    border-left: none;
                }

                tr:first-child th:last-child {
                    border-top: none;
                    border-right: none;
                }

                tr:last-child td {
                    border-bottom: none;
                }

                tr td:first-child {
                    border-left: none;
                }

                tr td:last-child {
                    border-right: none;
                }
            }
        }
    }
}