<section class="footer">
    <div class="footer__split">
        <div class="footer__split__left">
            <img src="assets/imgs/wowdao_logo.svg" alt="logo">
            <div class="footer__text">
                The first decentralized autonomous organization of the AI community
            </div>
            <div class="social-media-icons">
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/facebook.svg" alt="fb">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/instagram.svg" alt="instagram">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/linkedin.svg" alt="linkedin">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/twitter.svg" alt="twitter">
                </a>
                <a href="https://www.tiktok.com/@wowdaoai">
                    <img src="assets/imgs/icons/tiktok.svg" alt="TikTok">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/youtube.svg" alt="youtube">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/discord.svg" alt="discord">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/telegram.svg" alt="telegram">
                </a>
            </div>
            <div class="laws">
                <a href="https://wowdao.ai/page/terms-and-conditions.html">Terms and Conditions</a> /
                <a href="https://wowdao.ai/page/privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
        <div class="footer__split__right">
            <div class="footer__text">
                <img src="assets/imgs/icons/world.svg" alt="world">
                wowdao.ai
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/mail.svg" alt="mail">
                <span><a href="mailto:contact@wowdao.ai">contact@wowdao.ai </a>(UTC +4 to UTC +10)</span>
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/mail.svg" alt="mail">
                <span><a href="mailto:contact@wow-ai.com"> contact@wow-ai.com </a>(UTC -1 to UTC +5)</span>
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/mail.svg" alt="mail">
                <span>
                    <a href="mailto:info@transatlanticaiexchange.com">info@transatlanticaiexchange.com</a>
                    (UTC -5 to UTC -10)
                </span>
            </div>
        </div>
    </div>
</section>