<section class="footer">
    <div class="footer__split">
        <div class="footer__split__left">
            <img src="assets/imgs/wowdao_logo.svg" alt="logo">
            <div class="footer__text">
                The first decentralized autonomous organization of the AI community
            </div>
            <div class="social-media-icons">
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/facebook.svg" alt="fb">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/instagram.svg" alt="instagram">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/linkedin.svg" alt="linkedin">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/twitter.svg" alt="twitter">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/tiktok.svg" alt="TikTok">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/youtube.svg" alt="youtube">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/discord.svg" alt="discord">
                </a>
                <a href="javascript:void(0)">
                    <img src="assets/imgs/icons/telegram.svg" alt="telegram">
                </a>
            </div>
            <div class="laws">
                <a href="https://wowdao.ai/page/terms-and-conditions.html">Terms and Conditions</a> /
                <a href="https://wowdao.ai/page/privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
        <div class="footer__split__right">
            <div class="footer__text">
                <img src="assets/imgs/icons/location.svg" alt="location">
                8 The Green Ste A, Dover, DE 19901, USA
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/world.svg" alt="world">
                Wow-ai.com
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/mail.svg" alt="mail">
                contact@wowdao.ai (UTC +4 to UTC +10)
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/mail.svg" alt="mail">
                contact@wow-ai.com (UTC -1 to UTC +5)
            </div>
            <div class="footer__text">
                <img src="assets/imgs/icons/mail.svg" alt="mail">
                info@transatlanticaiexchange.com (UTC -5 to UTC -10)
            </div>
        </div>
    </div>
</section>