<section class="landing" id="landingPage">

    <video autoplay muted loop id="introVideo">
        <source src="assets/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="landing__content">
        <div class="landing__content__btnGroup">
            <a href="#" id="timer"></a>
            <a href="#">📍Computer History Museum, Mountain View, CA</a>
        </div>
        <div class="landing__content__timer">28-29 SEPTEMBER, 2023</div>
        <div class="landing__content__title">
            <span>
                <span class="normalText">Worldwide </span><span>AI Hackathon &amp; Web3 Summit</span>
            </span>
            <a id="add2cal" href="javascript:void(0)" data-name="Worldwide AI & Web3 Summit"
                data-description="🚀[strong]WORLDWIDE AI & WEB3 SUMMIT[/strong]<br /><br />We are excited to invite you to the [strong]Worldwide AI & Web3 Summit[/strong] - a 2-day Web3 & AI educational event, hosted by WowDAO, combines the [u]Worldwide AI Hackathon closing ceremony[/u] and the [u]AI & Web3 Summit[/u].<br /><br />🎉[strong]TOPICS[/strong]<br /><br />[strong]ENDING CEREMONY OF WORLDWIDE AI HACKATHON:[/strong]The top finalists, selected from a pool of over 1,700 contestants from 88 countries, will have the opportunity to showcase their outputs in front of a distinguished panel of over 100 judges and mentors.<br /><br />[strong]AI & WEB3 SUMMIT:[/strong] Renowned AI & Web3 experts from [strong]HAI Stanford, Google Deepmind, NVIDIA, Meta, Intel, Qualcomm, VitaDAO, Molecule DAO, OpenOcean[/strong] and more will debunk myths and discuss Web3-AI integration.<br /><br />🎉[strong]Awesome perks await[/strong] for asking great questions.Stay tuned for additional event participation updates here: [url]https://wowdao.ai/summit[/url]"
                data-start-date="2023-09-28" data-start-time="09:00" data-end-date="2023-09-29" data-end-time="17:00"
                data-filename="ai-web3-summit"
                class=" c-btn c-btn--light-purple c-btn--gradient c-btn--hover-gradient-reverse c-btn--small">
                <span>Add to your calendar</span>
                <img height="16px" src="/assets/imgs/star.svg" />
            </a>
        </div>
        <div class="landing__content__extras">
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">1700+</div>
                    <div class="cate">Contestants</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">100+</div>
                    <div class="cate">Judges and mentors</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">35+</div>
                    <div class="cate">Speakers</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">20+</div>
                    <div class="cate">Keynotes &amp; panels</div>
                </div>
            </div>
        </div>
    </div>

</section>