<section class="landing" id="landingPage">

    <video autoplay muted loop id="introVideo">
        <source src="assets/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="landing__nav">
        <a href="index.html" class="landing__nav__logo">
            <img src="assets/imgs/wowdao_logo.svg" alt="wowdao_logo">
        </a>
        <div class="landing__nav__links">
            <a href="#attend">Who will attend</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#speakers">Speakers</a>
            <a href="#agenda">Agenda</a>
            <a href="#faq" target="_blank">FAQ?</a>
            <div class="landing__nav__links--close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        <div class="landing__nav__btnGroup">
            <a href="javascript:void(0)"
                class="c-btn c-btn--light-purple c-btn--gradient c-btn--hover-gradient-reverse c-btn--small landing__nav__btnGroup-contact">
                <span>Secure a slot NOW</span>
                <img height="16px" src="/assets/imgs/star.svg" />
            </a>
            <a href="#" class="c-btn c-btn--small landing__nav__btnGroup-menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </a>
        </div>
    </div>

    <div class="landing__content">
        <div class="landing__content__btnGroup">
            <a href="#" id="timer"></a>
            <a href="#">📍Computer History Museum, Mountain View, CA</a>
        </div>
        <div class="landing__content__timer">28-29 SEPTEMBER, 2023</div>
        <div class="landing__content__title">
            <span>
                <span class="normalText">Worldwide </span><span>AI Hackathon &amp; Web3 Summit</span>
            </span>
            <a href="javascript:void(0)"
                class="c-btn c-btn--light-purple c-btn--gradient c-btn--hover-gradient-reverse c-btn--small">
                <span>Add to your calendar</span>
                <img height="16px" src="/assets/imgs/star.svg" />
            </a>
        </div>
        <div class="landing__content__extras">
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">1700+</div>
                    <div class="cate">Contestants</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">100+</div>
                    <div class="cate">Judges and mentors</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">35+</div>
                    <div class="cate">Speakers</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">20+</div>
                    <div class="cate">Keynotes &amp; panels</div>
                </div>
            </div>
        </div>
    </div>

</section>