<section class="landing" id="landingPage">

    <video autoplay muted loop id="introVideo">
        <source src="assets/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="landing__content">
        <div class="landing__content__btnGroup">
            <a href="#" id="timer"></a>
            <a href="#">📍Computer History Museum, Mountain View, CA</a>
        </div>
        <div class="landing__content__timer">28-29 SEPTEMBER, 2023</div>
        <div class="landing__content__title">
            <span>
                <span class="normalText">Worldwide </span><span>AI Hackathon &amp; Web3 Summit</span>
            </span>
            <a href="javascript:void(0)"
                class="c-btn c-btn--light-purple c-btn--gradient c-btn--hover-gradient-reverse c-btn--small">
                <span>Add to your calendar</span>
                <img height="16px" src="/assets/imgs/star.svg" />
            </a>
        </div>
        <div class="landing__content__extras">
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">1700+</div>
                    <div class="cate">Contestants</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">100+</div>
                    <div class="cate">Judges and mentors</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">35+</div>
                    <div class="cate">Speakers</div>
                </div>
            </div>
            <div class="stats">
                <img src="/assets/imgs/circle.png" alt="circle">
                <div class="stats__wrapper">
                    <div class="numbers">20+</div>
                    <div class="cate">Keynotes &amp; panels</div>
                </div>
            </div>
        </div>
    </div>

</section>