<section class="landing" id="landingPage">

    <video autoplay muted loop id="introVideo">
        <source src="assets/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="landing__nav">
        <a href="index.html" class="landing__nav__logo">
            <img src="assets/imgs/wowdao_logo.svg" alt="wowdao_logo">
        </a>
        <div class="landing__nav__links">
            <a href="#attend">Why attend</a>
            <a href="#tickets">Tickets</a>
            <a href="#sponsors">Sponsors</a>
            <a href="#speakers">Speakers</a>
            <a href="#agenda">Agenda</a>
            <a href="#faq" target="_blank">FAQ?</a>
            <div class="landing__nav__links--close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        <div class="landing__nav__btnGroup">
            <button type="button">
                <img src="assets/imgs/sound.svg" alt="sound">
            </button>
            <a href="javascript:void(0)" id="scroll-down"
                class="c-btn c-btn--light-purple c-btn--gradient c-btn--hover-gradient-reverse c-btn--small landing__nav__btnGroup-contact">
                <span>Get Start</span>
                <img height="16px" src="/assets/imgs/star.svg" />
            </a>
            <a href="#" class="c-btn c-btn--small landing__nav__btnGroup-menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </a>
        </div>
    </div>

    <div class="landing__content">

    </div>

</section>