<div class="c-navbar">
    <div class="c-navbar__wrapper">
        <a href="index.html" class="c-navbar__logo">
            <img src="/assets/imgs/wowdao_logo.svg" />
        </a>
        <div class="c-navbar__links">
            <a href="#attend">Who will attend</a>
            <a href="#speakers">Speakers</a>
            <a href="#judges">Judges</a>
            <a href="#mentors">Mentors</a>
            <a href="#agenda">Agenda</a>
            <div class="c-navbar__links-close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        <div class="c-navbar__right">
            <a href="javascript:void(0)"
                class="c-btn c-btn--light-purple c-btn--gradient c-btn--hover-gradient-reverse c-btn--small c-navbar__right-contact">
                <span>Secure a slot NOW</span>
                <img height="16px" src="/assets/imgs/star.svg" />
            </a>
            <a href="#" class="c-btn c-btn--small c-navbar__right-menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </a>
        </div>
    </div>
</div>